<header class="site-navbar light js-sticky-header site-navbar-target" role="banner">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-qi99IU6MzfE0zJ4tZ6R7nv5CqZLef5NGFBkODe7Jq9FtJRMX+lsbM+gwRfJBK6Ix0U9ROA6ek6P7J2EN2pAYAJA==" crossorigin="anonymous" />

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-xl-2">
          <div class="mb-0 site-logo"><a href="index.html" class="mb-0">ElderlyCare<span class="text-primary"></span> </a></div>
        </div>

        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <button class="no-style-button" (click)="goToHome()">Home</button>
              <li><a href="/doctor-profile" class="nav-link">Profile</a></li>
              <button class="no-style-button" (click)="goToDoc()">Dashboard</button>

              <li>  <a class="nav-link" (click)="goToComplaint()"class="nav-link"> Complaint</a></li>
             
           <li>  <a class="nav-link"  (click)="onLogoutClick()" class="nav-link">SignOut</a></li>
          
              <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-facebook fa-lg"></i></a></li>
              <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-twitter fa-lg"></i></a></li>
              <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-linkedin fa-lg"></i></a></li>
              <div *ngIf="authService.isLoggedIn()" class="floating-chat">
                <a href="#" class="btn btn-primary" routerLink="/chat">
                   <i class="fas fa-comment"></i>
                 </a>
                </div>
              
                  </ul>
                  
          </nav>
        </div>


        <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-white"></span></a></div>

      </div>
    </div>

  </header>
