.update-ambulance-container {
 
    align-items: center;
    height: 100vh;
  }
  .update-ambulance {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: 250px; /* Add this line to move the form to the right */
  }@media (min-width: 768px) {
    .update-ambulance {
        margin-top: 80px;

      margin-left: 700px;
    }
  }
  
  @media (max-width: 767px) {
    .update-ambulance {
      margin-left: 0;
    }
  }