<link href="/assets/FrontOffice/css/_site-blocks.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/aos.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/bootstrap-datepicker.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/bootstrap.min.css.map" rel="stylesheet">
<link href="/assets/FrontOffice/css/jquery-ui.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/magnific-popup.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/mediaelementplayer.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/owl.carousel.min.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/owl.theme.default.min.css" rel="stylesheet">
<link href="/assets/FrontOffice/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="/assets/FrontOffice/scss/_site-navbar.scss" rel="stylesheet">
<link href="/assets/FrontOffice/scss/_site-blocks.scss" rel="stylesheet">
<link href="/assets/FrontOffice/scss/_site-base.scss" rel="stylesheet">
<link href="/assets/FrontOffice/scss/style.scss" rel="stylesheet">
<header class="site-navbar light js-sticky-header site-navbar-target" role="banner">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-qi99IU6MzfE0zJ4tZ6R7nv5CqZLef5NGFBkODe7Jq9FtJRMX+lsbM+gwRfJBK6Ix0U9ROA6ek6P7J2EN2pAYAJA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-xl-2">
          <div class="mb-0 site-logo"><a href="index.html" class="mb-0">ElderlyCare<span class="text-primary"></span> </a></div>
        </div>

        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a routerLink="/home"class="active nav-link">Home</a></li>
              <li class="has-children">

<a href="#" class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Services </a>  
              <ul class="dropdown">
                  <li><a  class="nav-link" routerLink="/new">New Appointment</a></li>
                  <li><a routerLink="/listE" class="nav-link">My Appointments</a></li>
       
                  <li class="has-children">
                    <a href="#">More Links</a>
                    <ul class="dropdown">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li><a routerLink="/listD" class="nav-link">Doctor's Appointments</a></li>
        
        
                      <li><a href="/profileelderly" class="nav-link">Profile</a></li>
                      <li><a href="/signIn" class="nav-link">SignOut</a>
            <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-facebook fa-lg"></i></a></li>
              <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-twitter fa-lg"></i></a></li>
              <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-linkedin fa-lg"></i></a></li>
                  </ul>
          </nav>
        </div>



      </div>
    </div>




<div *ngIf="newsData">
    <img src="assets/FrontOffice/images/news.jpg" alt="Latest News Image" class="title-image">
    <div class="article-container">
      <div *ngFor="let article of newsData" class="article-box">
        <h3>{{ article.title }}</h3>
        <p>{{ article.description }}</p>
        <p>Published Date: {{ article.published_datetime_utc }}</p>
        <p>Source: <a href="{{ article.source_url }}">{{ article.source_url }}</a></p>
        <div class="image-container">
          <img *ngIf="article.source_logo_url" [src]="article.source_logo_url" alt="Source Logo" style="max-width: 50%; height: auto;">
        </div>
      </div>
    </div>
  </div>
  