<link href="/assets/BackOffice/assets/libs/css/style.css "rel="stylesheet">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/bootstrap/css/bootstrap.min.css">
 <link href="/assets/BackOffice/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
 <link rel="stylesheet" href="/assets/BackOffice/assets/libs/css/style.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/charts/chartist-bundle/chartist.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/charts/morris-bundle/morris.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/charts/c3charts/c3.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">


<app-sidebar-back></app-sidebar-back>
<!-- user-list.component.html -->
<div></div>
<div class="container mt-md-5 pt-md-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div *ngIf="nurses.length > 0; else noNurses">
          <h2 class="text-center mb-4">Nurse List</h2>
  
          <table class="table mx-auto">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>email</th>
                <th>Phone Number</th>
                <th>Gender</th>    
                <th>Address</th>            
                <th>Responsabilities</th>
                <th>List Elderly</th>
                <th>Action</th>

             
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nurse of nurses">
                <td>{{ nurse.firstName }}</td>
                <td>{{ nurse.lastName }}</td>
                <td>{{nurse.user.email}}</td>
                <td>{{ nurse.phoneNumber }}</td>
                <td>{{nurse.gender}}</td>
                <td>{{nurse.address}}</td>
                <td>{{ nurse.responsibilities}}</td>

                <ul>
                    <li *ngFor="let elderly of nurse.elderlys">
                      {{ elderly.firstName }} {{ elderly.lastName }} {{ elderly.email }} 
                    </li>
                  </ul>
                   
<!-- Ajoutez le bouton "Update" à chaque ligne du tableau -->
<td>
  <button class="btn btn-primary" (click)="updateNurse(nurse.nurseID)">Update</button>
</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Form for updating nurse -->
    <div class="col-md-4">
      <div class="container">
        <h3 class="text-right">Edit Nurse</h3>
        <form [formGroup]="nurseForm" (ngSubmit)="submitUpdate()">
          <div class="form-group">
            <label for="firstName">first Name</label>
            <input formControlName="firstName" class="form-control" type="firstName" id="firstName">
          </div>
      <div class="form-group">
        <label for="lastName">last Name</label>
        <input formControlName="lastName" class="form-control" type="lastName" id="lastName">
      </div>
        
    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" class="form-control" type="email" id="email">
    </div>
    <div class="form-group" >
      <label for="phoneNumber">Phone Number</label>
      <input formControlName="phoneNumber" class="form-control" type="text" id="phoneNumber">
    </div>
    <div class="form-group">
      <label>Gender</label>
      <div class="form-check">
        <input formControlName="gender" class="form-check-input" type="radio" id="female" value="Female">
        <label class="form-check-label" for="female">Female</label>
      </div>
      <div class="form-check">
        <input formControlName="gender" class="form-check-input" type="radio" id="male" value="Male">
        <label class="form-check-label" for="male">Male</label>
      </div>
    </div>

   
    <div class="form-group">
      <label for="responsibilities">Responsabilities</label>
    </div>
    <select formControlName="responsibilities" class="form-control"id="responsibilities" >
      <option value="Gerontological Nursing">Gerontological Nursing</option>
<option value="Geriatric CNA (CNA-G)">Geriatric CNA (CNA-G)</option>
<option value="Hospice & Palliative">Hospice & Palliative</option>
<option value="Nurse Manager (Gerontology)">Nurse Manager (Gerontology)</option>
</select>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
    
        <ng-template #noNurses>
          <p class="text-center">No nurses found.</p>
        </ng-template>
    </div>
    </div>
    </div>

    
    <app-navbar-back></app-navbar-back>
    
    <script src="/assets/BackOffice/assets/libs/js/dashboard-ecommerce.js"></script>
    <script src="/assets/BackOffice/assets/libs/js/dashboard-finance.js"></script>
    <script src="/assets/BackOffice/assets/libs/js/dashboard-influencer.js"></script>
    <script src="/assets/BackOffice/assets/libs/js/dashboard-sales.js"></script>
    <script src="/assets/BackOffice/assets/libs/js/gmaps.minjs"></script>
    <script src="/assets/BackOffice/assets/libs/js/google_map.js"></script>
    <script src="/assets/BackOffice/assets/libs/js/jvectormap.custom.js"></script>
    <script src="/assets/BackOffice/assets/libs/js/main-js"></script>
    
    