<div class="chart-container">
  <canvas #myChart></canvas>
</div>

<h2>Liste des ambulances</h2>

<table>
  <thead>
    <tr>
      <th>Numéro ID</th>
      <th>Emplacement</th>
      <th>Statut</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ambulance of ambulances">
      <td>{{ ambulance.ambulanceID }}</td>
      <td>{{ ambulance.location }}</td>
      <td>{{ ambulance.status }}</td>
      <td>
        <img *ngIf="ambulance.imageAmbul" [src]="imageBaseUrl + ambulance.imageAmbul" alt="Ambulance Image" width="50">
      </td>
      <td>
        <!-- Afficher le bouton "Affecter" si le statut est "Available" -->
        <button *ngIf="ambulance.status === 'NotAvailable'" (click)="choisirAmbulance(ambulance.ambulanceID)">Choose Driver </button>
        <!-- Afficher le bouton "Annuler le service" si le statut est "NotAvailable" -->
      </td>
    </tr>
  </tbody>
</table>
