<div class="container mt-3">
    <div class="row justify-content-end">
        <div class="col-md-8">
            <h2 class="mt-3">Liste des ambulances</h2>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-md-8" *ngFor="let ambulance of ambulances">
            <div class="card mb-3">
                <img [src]="imageBaseUrl + ambulance.imageAmbul" class="card-img-top" alt="Ambulance Image"
                    style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ ambulance.location }}</h5>
                    <p class="card-text">Statut: {{ ambulance.status }}</p>
                    <!-- Bouton "Modifier" -->
                    <button routerLink="/admin/get/edit/{{ ambulance.ambulanceID }}" class="btn btn-primary mr-2">Modifier
                    </button>
                    <!-- Bouton "Archiver" -->
                    <button (click)="archiveAmbulance(ambulance.ambulanceID)" class="btn btn-danger mr-2">Archiver
                    </button>
                    <!-- Bouton "Lire le statut" -->
                </div>
            </div>
        </div>
    </div>
</div>