
                                <script>document.addEventListener("DOMContentLoaded", function() {
                                    // Scroll to the section with the ID "hero-1619"
                                    const heroSection = document.getElementById("hero-1619");
                                    if (heroSection) {
                                      heroSection.scrollIntoView({ behavior: "smooth" });
                                    }
                                  });</script> <section id="hero-1619">
    <div class="cs-container">  
        


       

<style> </style>








        <h2 class="cs-title">Welcome to Your Online Consultation</h2>

        <div class="cs-content">
            <span class="cs-topper">
              
                <div class="container">
                    <div id="jitsi-iframe"></div>
                </div>
 
             
            </span>
         </div>
         <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/check-circle.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Connect with Trusted Doctors</h3>
                <p class="cs-item-text">
                    Consult with experienced and trusted doctors from various specialties online.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/speedometer.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Instant Consultation</h3>
                <p class="cs-item-text">
                    Get instant consultations without the need for physical appointments.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Secure & Confidential</h3>
                <p class="cs-item-text">
                    Your consultations are secure and confidential, ensuring your privacy.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Flexible Scheduling</h3>
                <p class="cs-item-text">
                    Schedule consultations at your convenience, anytime and anywhere.
                </p>
            </li>
        </ul>
    </div>
   
    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting7-m.jpeg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting7.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting7.jpg" alt="meeting" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>