<link href="/assets/BackOffice/assets/libs/css/style.css "rel="stylesheet">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/bootstrap/css/bootstrap.min.css">
 <link href="/assets/BackOffice/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
 <link rel="stylesheet" href="/assets/BackOffice/assets/libs/css/style.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/charts/chartist-bundle/chartist.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/charts/morris-bundle/morris.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/charts/c3charts/c3.css">
 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">


<app-sidebar-back></app-sidebar-back>
<!-- user-list.component.html -->
<div></div>
<div class="container mt-md-5 pt-md-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div *ngIf="users.length > 0; else noUsers">
          <h2 class="text-center mb-4">User List</h2>
      
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search by email" [(ngModel)]="searchText" (keyup)="searchUsersByEmail(searchText)">
          </div>
          <div class="input-group">
            <input type="search" [(ngModel)]="searchText" class="form-control rounded" placeholder="Search by Role" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" (click)="searchUsersByRole(searchText)"data-mdb-ripple-init>Search</button>
          </div>
  
          <table class="table">
            <thead>
              <tr>
                <th>Email</th>  
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.email }}</td>

                <td>{{ user.role }}</td>
                
                  <td>

                    <button class="btn custom-delete-btn" (click)="deleteUser(user.id)" *ngIf="!user.archive">Delete</button>
                    <button class="btn custom-activate-btn" (click)="ActivateUser(user.id)" *ngIf="user.archive">Activate</button>
                  
                  </td>
                  
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noUsers>
    <p class="text-center">No users found.</p>
</ng-template>
</div>
</div>
</div>
<div class="container mt-md-5 pt-md-4">
  <div class="row justify-content-center">
    <div class="col-md-4"> <!-- Colonne pour les statistiques des rôles -->
      <div *ngIf="roleStatistics">
        <h2>Statistics of roles</h2>
        <ul>
          <li *ngFor="let role of roleStatistics | keyvalue">
            {{ role.key }}: {{ role.value }}%
          </li>
        </ul>
</div>




<app-navbar-back></app-navbar-back>

<script src="/assets/BackOffice/assets/libs/js/dashboard-ecommerce.js"></script>
<script src="/assets/BackOffice/assets/libs/js/dashboard-finance.js"></script>
<script src="/assets/BackOffice/assets/libs/js/dashboard-influencer.js"></script>
<script src="/assets/BackOffice/assets/libs/js/dashboard-sales.js"></script>
<script src="/assets/BackOffice/assets/libs/js/gmaps.minjs"></script>
<script src="/assets/BackOffice/assets/libs/js/google_map.js"></script>
<script src="/assets/BackOffice/assets/libs/js/jvectormap.custom.js"></script>
<script src="/assets/BackOffice/assets/libs/js/main-js"></script>

