.custom-delete-btn {
    background-color: #dc3545; /* Rouge */
    color: #fff; /* Texte blanc */
    /* Autres styles personnalisés */
  }
  
  .custom-activate-btn {
    background-color: #28a745; /* Vert */
    color: #fff; /* Texte blanc */
    /* Autres styles personnalisés */
  }
  