   
    <header class="site-navbar light js-sticky-header site-navbar-target" role="banner">
        <script src="https://js.stripe.com/v3/"></script>
  
          <div class="container">
            <div class="row align-items-center">
    
              <div class="col-6 col-xl-2">
                <div class="mb-0 site-logo"><a href="index.html" class="mb-0">ElderlyCare<span class="text-primary"></span> </a></div>
              </div>
    
              <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
    
                  <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                    <button class="no-style-button" (click)="goToElderlyDashboard()">Find a doctor</button>
                    <li  class="nav-link">
                      <button class="no-style-button" (click)="goToShop()"> Shop</button>
                       

    
                      <li><a href="/profileeldery" class="nav-link">Profile</a></li>
                      <li><a href="about.html" class="nav-link">About</a></li>
                    <li><a href="contact.html" class="nav-link">Contact</a></li>
                    <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-facebook fa-lg"></i></a></li>
                    <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-twitter fa-lg"></i></a></li>
                    <li  ><a href="#contact-section" class="nav-link"><i class="fab fa-linkedin fa-lg"></i></a></li>
                       
                  
                                        <a  class="no-style-button"(click)="onLogoutClick()">SignOut</a>

                  
                  </ul>
                </nav>


 <!--Mariem Chat Icon + css houni -->
 <div *ngIf="authService.isLoggedIn()" class="floating-chat">
  <a href="#" class="btn btn-primary" routerLink="/chat">
     <i class="fas fa-comment"></i>
   </a>
</div>



              </div>


 
    
    
              <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-white"></span></a></div>
    
            </div>
          </div>
    
        </header>
        
  