<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des ambulances</title>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <!-- Styles -->
 
</head>

<body>
  <div class="container">
    <h2>Liste des ambulances</h2>
    <div class="form-group">
      <label for="statusSelect">Filtrer par statut :</label>
      <select id="statusSelect" class="form-control" [(ngModel)]="selectedStatus" (change)="filterAmbulances()">
        <option value="">Tous les statuts</option>
        <option value="En service">En service</option>
        <option value="En réparation">En réparation</option>
        <option value="Hors service">Hors service</option>
      </select>
    </div>
    <!-- Boîte de dialogue modale pour les premiers secours -->
    <div id="firstAidModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeFirstAidModal()">&times;</span>
        <h2>Premiers secours</h2>
        <div *ngFor="let sign of onsignesPremiersSecours">
          <p>{{ sign }}</p>
        </div>
      </div>
    </div>

    <!-- Carte pour afficher les emplacements -->
    <div id="map"></div>
  </div>
  
  <!-- Alertes -->
  <div *ngIf="elderlyTracking" class="alert" [ngClass]="{'alert-danger': elderlyTracking === 'Drowsy', 'alert-success': elderlyTracking === 'NotDrowsy'}">
    <p>{{ elderlyTracking === 'Drowsy' ? 'Your elderly is in an emergency situation' : 'Your elderly is in good condition' }}</p>
</div>


  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <!-- Votre fichier JavaScript -->
  <script src="assets/app-afficher-ambulance.component.js"></script>
</body>

</html>
