
<link rel="stylesheet" href="/assets/BackOffice/assets/libs/css/style.css">
<link href="/assets/BackOffice/assets/libs/css/style.css "rel="stylesheet">



 <link rel="stylesheet" href="/assets/BackOffice/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">


 <side></side>
 <app-navshopback></app-navshopback> 
 <app-backfooter></app-backfooter>
        
         
 
 <router-outlet></router-outlet>
 
 
 
 
 
 <script src="/assets/BackOffice/assets/libs/js/dashboard-ecommerce.js"></script>
 <script src="/assets/BackOffice/assets/libs/js/dashboard-finance.js"></script>
 <script src="/assets/BackOffice/assets/libs/js/dashboard-influencer.js"></script>
 <script src="/assets/BackOffice/assets/libs/js/dashboard-sales.js"></script>
 <script src="/assets/BackOffice/assets/libs/js/gmaps.minjs"></script>
 <script src="/assets/BackOffice/assets/libs/js/google_map.js"></script>
 <script src="/assets/BackOffice/assets/libs/js/jvectormap.custom.js"></script>
 <script src="/assets/BackOffice/assets/libs/js/main-js"></script>
 
 